body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b4b410;
    color: rgb(242, 44, 44);
}

header {
    background-color: #0f0f03;
}
.navBar {
    display: flex;

}
.head{
    display: flex;
    justify-content: space-around;
}
.nav-link{
    align-items: center;
    padding-top: 15%;
    color: rgb(152, 6, 6);
}

.logo {
    
    height: 10%;
   
}

nav {
    
}

main {
    padding: 30px;
}

.person-details {
   
    display: flex;
    flex-direction: column;
}


footer {
    background-color: rgb(51, 0, 202);
    padding: 10px;
    text-align: center;
}